<%= render 'header', title: "Profile Page" %>
<div class="form-container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
  <div class="link">
    <%= link_to 'Edit', 'profile/edit', class: "btn btn-info" %>
  </div>
</div>
